<div class="container-fluid">
    <form (ngSubmit)="submitQuote()">
      <div class="form-group">
        <label for="quotes"><strong>Quotes:</strong></label>
        <input type="text" name="qoute" class="form-control" id="exampleFormControlInput1" [(ngModel)]="quoteStr" placeholder="Add Your Quote In Here:">
    </div>
  
       <div class="form-group">
       <label for="name"><strong>Person's Name:</strong></label>
       <input type="text"  name="person's name" class="form-control" id="exampleFormControlInput1" [(ngModel)]="quoteName" placeholder="Write Your Name Here:">
      </div>
  
      <div class="form-group">
          <label for="author"><strong>Author:</strong></label>
          <input type="text" name="author" class="form-control" id="exampleFormControlInput1"  [(ngModel)]="quoteAuthor" placeholder="Add Name of the Author Here:">
      </div>

      <div class="form-group">
        <label for="complete"><strong>Date Created</strong></label>
        <input type='date' id="mydate" required class="form-control"  [(ngModel)]="myDate" >
      </div>
  
      <button type="submit" class="btn btn-danger">Add Quote</button>

    </form>
    
  </div>

