<div class="container">
    <div class="row">
      <div class="col-md-6">
          <div  *ngFor="let quote of quotes; let i=index">

            <app-quote-detail [quote]="quote"></app-quote-detail>

            <button class="btn btn-primary" (click)="upvote(i)">Upvote</button>
            <button class="btn btn-primary" (click)="downvote(i)">Downvote</button>
            <button class="btn btn-outline-danger" (click)="delQoute(i)">Delete</button>
            <hr>
  </div>
  </div>
  
  </div>
  </div>
